<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>LEADS {% block title %}{% endblock %}</title>
    {%  block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen" charset="utf-8">
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Styles -->
    {% block js %}

    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}" charset="utf-8"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/progress.js') }}" charset="utf-8"></script> -->


    <script type="text/javascript" src="{{ url_for('static', filename='js/smoothie.js') }}"></script>
    <script type="text/javascript" src="http://127.0.0.1:8082/socket.io/socket.io.js"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot.js') }}"></script> 
    {% endblock %}

</head>
<body onload="init()">
    <header>
        <div class="container">
            <a href="/" alt="home"><h1>Cloud - map reduce service</h1></a>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/" alt="home">Home</a></li>
                        <li><a href="/clouds" alt="clouds">Micro-clouds</a></li>
                        <li><a href="/nodes-status" alt="nodes">Nodes-Status</a></li>
                        <li><a href="/setting" alt="nodes">Setting</a></li>
                        <li><a href="http://leads-project.eu/" alt="leads">LEADS</a></li>
                    </ul>
                </nav>
                <aside>
                <p>Service status: <span class="running">{{ g.server['Cloud_service_status'] }}</span> :: active micro-clouds: <span class="active-workers">{{ g.nodes|count }}</span></p>
    <!--p  <p>running on <span class="redis-url">{{ g.config['WEB_HOST'] }}:{{ g.config['WEB_PORT'] }}</span> connected to Redis on <span class="redis-url">{{ g.config['REDIS_HOST'] }}:{{ g.config['REDIS_PORT'] }}</span></p> -->
                </aside>

            </div>
        </div>
    </header>



    {% if failed_warning %}


    <div class="notice">
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">×</a>
            Some messages have failed. <a href="/failed" class="failed">Click here</a> to take action.
        </div>
    </div>
     {% endif %}

    <div class="container main">
        <div class="current-clouds section">
            <h1>Micro-Clouds</h1>
        
            {% for cloud in g.cloud_types %}
            <tr> <h2>{{ cloud }}</h2> </tr>

        
            <table class="table table-striped table-bordered table-condensed">
            <tr><td>
                <thead>
                    <tr>
                        <th class="cloud-id-col">Nodes</th>
                        <th class="cloud-id-col">Status</th>
                        <th class="cloud-id-col">CPU</th>
                        <th class="cloud-id-col">Memory</th>
                    </tr>
                </thead>
                <tbody>
                    {% for node in g.clouds[cloud] %}
                    <tr>
                        <td>{{ node }}</td>
                        <td>{{ g.clouds[cloud][node] }}</td>
                        <td>2 VCPU</td>
                        <td>2000 MB </td>
                    </tr>
                    {% else %}
                    <tr>
                         <td colspan="2" class="no-clouds">Nothing happening here right now...</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </td> </tr>
            </table> 
          
            <table class="table table-striped table-bordered table-condensed" >
            <tr><td>
                 <thead>
                       <th>CPU Utilization [%]</th>
                      <!-- <canvas id="cpu" width = "579px" height = "100px"></canvas><br/> -->
                       <th>Memory Utilization [MB]</th>
                      <!--  <canvas id="ram" width = "579px" height = "100px"></canvas><br/> -->
                 </thead>
                 <tbody>
		       <tr>	
		          <td> <canvas id="cpu{{ cloud }}" width = "600px" height = "100px"></canvas><br/> </td>
                          <td> <canvas id="ram{{ cloud }}" width = "600px" height = "100px"></canvas><br/> </td>
                       </tr>
		</tbody>
            </td></tr>
            </table>  


	    <table class="table table-striped table-bordered table-condensed" >
            <tr><td>
                 <thead>
                       <th>CPU Quota</th>
                      <!-- <canvas id="cpu" width = "579px" height = "100px"></canvas><br/> -->
                       <th>Memory Quota</th>
                      <!--  <canvas id="ram" width = "579px" height = "100px"></canvas><br/> -->
                 </thead>
                 <tbody>
                       <tr>
                          <td> <canvas id="cpuQuota{{ cloud }}" width = "600px" height = "100px"></canvas><br/> </td>
                          <td> <canvas id="ramQuota{{ cloud }}" width = "600px" height = "100px"></canvas><br/> </td>
                       </tr>
                </tbody>
            </td></tr>
            </table>




            {% else %}
            <table class="no-clouds table table-striped table-bordered table-condensed">
                <thead>
                     <tr>
                         <th class="cloud-id-col">Micro-Cloud 2</th>
                         <th>Phase</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                         <td colspan="2" class="no-clouds">Nothing happening here right now...</td>
                    </tr>
                </tbody>
            </table>
            </tr>
            {% endfor %}

        <!-- <span class="explain">click a cloud type to view its activity</span> -->
         </div>

        <div class="clouds section">
            <h1>Nodes Statistic</h1>

            <div class="filters">
                <ul>
                    <li><a href="#" data-filter="all">all</a></li>
                    {% for cloud_type in g.cloud_types %}
                    <li><a href="#" data-filter="{{ cloud_type }}">{{ cloud_type }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <table class="clouds-table table table-striped table-bordered table-condensed">
                <thead>
                     <tr>
                        <th class="microcloud-name">Name</th>
                        <th class="working">Status (#Active nodes, #Total nodes)</th>
                        <th class="microcloud-cpu">CPU</th>
                        <th class="microcloud-ram">Meomry</th>
                    </tr>
                </thead>
                <tbody>
                     {% for node, status in g.nodes.iteritems() %}
                    <tr>
                        <td>{{ node }}</td>
                        {% if status %}
                        <td>{{ status }}</td>
                        {% else %}
                       <td>Waiting for a new cloud...</td>
                         {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                    <td class="no-nodes" colspan="2">No nodes deployed so far...</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!--<span class="explain">click a node to view its activity</span> -->
    </div>



    </div>



    <footer>
        <div class="cell">
            <a href="http://www.leads-project.eu/" alt="LEADS project">powered by LEADS {{ g.server['web_version'] }}</a>
        </div>
    </footer>


</body>


</html>
