{% extends "master.html" %}

{% block title %} - Nodes{% endblock %}

{% block body %}
<div class="container main">
    <div class="nodes section">
        <h1>Nodes Status</h1>

        <div id="sysicons"> 
            <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        </div>

        <!--<h2>Receive:</h2>
        <div id="log"></div> -->

     </div>

</div>
{% endblock %}
