{% extends 'master.html' %}


{% block body %}
<div class="container">
       <!--<h1><small>Setting.</small></h1>-->

        <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
            <form action="" method="post">
                
                <tr><h1><small>Change CPU Threshold.</small></h1>
                
                <p><input type=text name=cputhreshold> </tr> 
                <tr><h1><small>Change Scaling Style.</small></h1>
                <p><input type=text name=scalingstyle> <small> [0: Horizotal Scaling; 1: Vertical Scaling]</small> </tr>

                <p><input type=submit value=Save>
            </form>
            </tr>
        </thead>
        </table>
</div>
{% endblock %}
